<div class="wm-mini-header">
  <span class="wm-black-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wm-page-heading">
          <h1>Album Grid Without Filterable</h1>
          <p>Check our latest albums</p>
        </div>
        <div class="clearfix"></div>
        <ul class="wm-breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Albums Grid</li>
        </ul>
      </div>
    </div>
  </div>
</div>
